// #FF6600 - przyciski, wyróżnienia, nagłówki ekranów
$color-primary-orange: #FF6600;

// #4a4a49 - nagłówek, kolor tekstu w kolumnach
$color-primary-grey: #4a4a49;

// #A1A194 - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$color-secondary-grey: #A1A194;

// #5B605F - panel boczny, nawigacja
$color-side-nav: #5B605F;

// #3498DB - kolor wiadomości typu info,
$color-info: #3498DB;

// #FFB03B - kolor wiadomości typu warning
$color-warning: #FFB03B;

// #468966 - kolor wiadomości typu success
$color-success: #468966;

// #FFFFFA - kolor tła ekranów
$color-background: #FFFFFA;

// #BD4932 - kolor ikony kosza
$trash-icon-color: #BD4932;
