.about-me-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 8rem 0;
}


.author-photo {
    background: $color-primary-grey;
    display: block;
    width: 300px;
    height: 300px;
}

.about-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    font-family: $font-basic;
    color: $color-secondary-grey;
}

.author-title {
    font-size: 2rem;
    padding-bottom: 2rem;
    font-size: bold;
}

.author-text {
    line-height: 2rem;
}