
header{
    background-color: $color-side-nav;
    .header_container{
        
        height: 100px;
        display: flex;
        justify-content: space-around;
    }
    .header_logo{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .header_menu{
        width: 60%;
        height: 100%;
        padding-right: 15%;
        display: flex;
        justify-content: space-around;
    }
}
.header_logo h1{
    color:white;
    font-family: $font-logo;
    font-size: 40px;
    span{
        color:$color-primary-orange;
    }
}
.header_menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:$font-basic ;
        a{
            text-decoration: none;
            color: white;
            
        }
        #selected{
            color:$color-primary-orange;
        }

}
