#recipe_list{
    .description{
        .row{
            margin-left: 2.5vw;
            margin-right: 2.5vw;
            color:$color-primary-grey;
            font-family: $font-basic;
            font-weight: 700;
            font-size: 1.3vw;
            border-top: solid 1.5px $color-secondary-grey;
        }

    }

}